<footer class="py-10 flex justify-center items-center flex-col bg-subtlegray/50 gap-4 mt-20">
    <div class="flex flex-row gap-4">
        <a href="#">
            <img src="/assets/icons/linkedin.svg" class="w-8" alt="linkedin logo">
        </a>
        <a href="#">
            <img src="/assets/icons/github.svg" class="w-8" alt="github logo">
        </a>
    </div>
    <div class="flex justify-center">
        <p class="text-lightgray">&copy; {{ currentYear }}. Developed by Tama</p>
    </div>
</footer>